<form name="formEdit" action="/attDados" method="POST">

    <p>Título</p>
    <input type="text" name="tituloPost" value="{{tituloPost}}">

    <p>Conteúdo</p>
    <textarea name="conteudoPost">{{conteudoPost}}</textarea>

    <button type="submit">Enviar</button>
</form>