{{#posts}}

<form name="formEdit" action="/atualizaPost/{{id}}" method="POST">

    <p>Título</p>
    <input type="text" name="tituloPost" value="{{titulo}}">

    <p>Conteúdo</p>
    <textarea name="conteudoPost">{{conteudo}}</textarea>

    <button type="submit">Enviar</button>
{{/posts}}
</form>